// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
    padding-top: 5rem;
  }

.card-body{
  background: #f4f4f4;
  margin-top: 10px;
}

.navbar-right { 
  margin-left: auto; 
} 