// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
    padding-top: 5rem;
  }

.card-body{
  background: #f4f4f4;
  margin-top: 10px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}

.navbar-right { 
  margin-left: auto; 
}

.delete-right { 
  float:right 
}

.card-body-comment{
  margin: 5px;
}

.comments{
  padding: 10px;
  background: white;
  border: 1px #c1c4c5 solid;
  border-radius: 5px;
}